<div class="left side-menu">
        
        <div class="sidebar-inner slimscrollleft">
           
            <div class="user-details">
                <div class="text-center"></div>
                <div class="user-info">
                   
            </div>
            
            <div id="sidebar">
                  
                <ul class="list-unstyled components">
                      <li >
                        <a href="#" routerLink="/admindashboard" routerLinkActive="activemenu" class="waves-effect"><i
                                class="mdi mdi-home"></i>
                            <span> Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a  routerLink="/users" routerLinkActive="activemenu" class="waves-effect"> <i 
                            class="mdi mdi-account"></i>
                                     <span> User</span>
                        </a>
                    </li>
              
                   <li>
                        <a href="#trip" class="waves-effect"
                        data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i
                          class="mdi mdi-bus"></i>
                            <span>Trip</span>
                        </a>
                        <ul class="list-unstyled collapse" id="trip">
                              <li>
                                      <a routerLink="/location" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-compass"></i>
                                          <span>Location</span>
                                      </a>
                              </li>
                              <li>
                                      <a routerLink="/routes" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-bus"></i>
                                          <span>Routes</span>
                                      </a>
                              </li>
                              <li>
                                      <a  routerLink="/ticket-price" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-ticket"></i>
                                          <span>Ticket Price</span>
                                      </a>
                              </li>
                          </ul>
                    </li>
                    <li >
                        <a href="#booking" class="waves-effect"
                        data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i
                          class="mdi mdi-ticket" ></i>
                            <span>Bookings</span>
                        </a>
                        <ul  class="list-unstyled collapse" id="booking">
                                <li>
                                        <a routerLink="/addbooking" routerLinkActive="activemenu" class="waves-effect"><i
                                          class="mdi mdi-plus"></i>
                                            <span>Add</span>
                                        </a>
                                </li>
                                <li>
                                        <a routerLink="/bookinglist" routerLinkActive="activemenu" class="waves-effect"><i
                                          class="mdi mdi-bus"></i>
                                            <span>List</span>
                                        </a>
                                </li>
                        </ul>    
                    </li>
                    <li >
                      <a href="#reports" class="waves-effect"
                      data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i class="mdi mdi-clipboard-text"
                              ></i>
                          <span>Reports</span>
                      </a>
                      <ul  class="list-unstyled collapse" id="reports">
                              <li>
                                      <a routerLink="/report" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-clipboard-text"></i>
                                          <span>User Report</span>
                                      </a>
                              </li>
                              <li>
                                      <a routerLink="/bookingreport" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-clipboard-text"></i>
                                          <span>Booking Report</span>
                                      </a>
                              </li>
                          </ul>
                  </li>
                    <li >
                      <a href="#setting" class="waves-effect"
                      data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><i
                          class="mdi mdi-settings"></i>
                          <span>Settings</span>
                      </a>
                      <ul  class="list-unstyled collapse" id="setting">
                              <li>
                                      <a routerLink="/pages" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-content-copy"></i>
                                          <span>Pages</span>
                                      </a>
                              </li>
                              <li>
                                      <a routerLink="/setting" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-settings"></i>
                                          <span>General Setting</span>
                                      </a>
                              </li>
                              <li>
                                      <a routerLink="/emailformat" routerLinkActive="activemenu" class="waves-effect"><i
                                        class="mdi mdi-credit-card"></i>
                                          <span>Email Format</span>
                                      </a>
                              </li>
                          </ul>
                  </li> 
                </ul>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>