<header id="fh5co-header-section" class="sticky-banner">
  <div class="container">
    <div class="nav-header">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
      <h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>Travel</a></h1>
      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu" style="
           display: -webkit-inline-box;
            text-decoration-line: none;
            text-decoration: none;
            margin-top: 25px !important;
            float: right;
            list-style: none;
            ">
          <li class="active"><a href="#" routerLink="/dashboard" routerLinkActive="activemenu">Home</a></li>
          
         <!-- <li><a href="#" routerLink="/booking" routerLinkActive="activemenu">Booking</a></li>-->
          <li><a href="#" routerLink="/about" routerLinkActive="activemenu">About</a></li>
          
          <li><a href="#" routerLink="/contactus" routerLinkActive="activemenu">Contact</a></li>
          
          <li><a href="#" routerLink="/login" routerLinkActive="activemenu">SignIn/SignUp</a><p [innerHTML]="this.email"></p></li>
          <li><a href="#" (click)=" userLogout()">Logout</a></li>
         
        </ul>
      </nav>
    </div>
  </div>
</header>
